# Ignorar node_modules
node_modules/
cliente/node_modules/
servidor/node_modules/
servidor/firebase-key.json
sockets/package-lock.json
sockets/package.json

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de entorno
.env
